.Services{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;

}

.Services_header {
   
    max-width: 1080px;
    color: #2e2e2e;
    text-align: center;
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: center;
}
